/* CHATBOX
=============== */
.chatbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  width: 60vh;
  border: 4px solid #183d7e;
  border-bottom: 4px solid #ffffff;
  z-index: -123456;
  border-style: ridge;
  padding: 0;
  opacity: 0;
  -webkit-transition: all .09s ease-in-out;
  transition: all .09s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

/* HEADER */
.chatbox__header {
  top: 0;
  border-left: 1px solid #183d7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #183d7e;
  padding: 1.25rem 0 1.25rem 0;
}

#imgCybageLogo {
  width: 110px;
}

/* MESSAGES */
.message {
  text-align: center;
}

.chatbox__messages {
  margin-top: 1rem;
  float: right;
  margin-bottom: 1rem;
  font-size: 14px;
}

.reply__messages {
  margin-top: 1rem;
  font-size: 14px;
}

.reply__messages .reply__messages__box {
  float: right;
}

.message__item {
  max-width: 60.6%;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
  padding-top: 0.5rem;
}

/* categories List */
#categories-list {
  margin: 0.5rem 0 0 1rem;
}

#categories-list .categories-list-item {
  padding: 0.3rem;
  text-align: center;
  width: 70%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 0.6rem;
}

.cat-reply {
  padding: auto;
}

.cat-reply .reply-list-item {
  padding: 0.3rem;
  text-align: center;
  width: 70%;
  margin-top: 0.6rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 4rem;
}

#question-list {
  margin: 0.5rem 0 0 1rem;
}

#question-list .question-list-item {
  padding: 0.3rem;
  text-align: center;
  width: 70%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 0.6rem;
}

#tag-questions {
  text-align: center;
  margin-top: 1rem;
}

/* FOOTER */
.chatbox__footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #183d7e;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.chatbox__footer input {
  width: 100%;
  padding: 0;
  border: none;
}

.chatbox__footer input::-moz-selection {
  border: none;
}

.chatbox__footer input::selection {
  border: none;
}

.content {
  height: 100vh;
  background-color: #7d9393;
}
/*# sourceMappingURL=chatBot.css.map */